body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 100%;
  font-family: "Press Start 2P", sans-serif;
  color: #123;
  background-color: #222;
  background-color: #60b347;
}

.output-fields {
  display: flex;
}

.first-note {
  padding: 15px;
}

.second-note {
  padding: 15px;
}

.buttons {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, 0.1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 10px;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.buttons:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.input-fields {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
